!requirements.txt*.bz*.bz2*.cfg*.configs*.data*.db*.extxyz*.gz*.h5*.in*.ipynb*.json*.lmdb*.lmdb-lock*.log*.lsf*.m*.md*.mtp*.npy*.npz*.out*.pb*.pdf*.pyc*.raw*.restart*.rst*.run*.sh*.tar*.tar.gz**.traj*.txt*.xml*.xml.sparseX**.xsf*.xyz*.yaml*.yml*.zip*OUTCAR**POTCAR*.*SUBMITTEDcf-envconfigurationforceinput.data.*iter.0000*mole8.pynamesproperty_definitions_additional.pyrecordscripts/c_gardner_2022/carbon-data/